<div class="container">
  <h1>Bugs</h1>
  <div class="row">
    <% @bugs.each do |bug| %>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= bug.name %></h5>
            <p class="card-text"><%= bug.time %></p>
            <p class="card-text"><img src="https://vignette.wikia.nocookie.net/animalcrossing/images/0/04/BellBag.png" height="16px"/> <%= number_with_delimiter(bug.value) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>